#videoContainer {
	background-color: #000000;
	position: absolute;
	margin: 0px auto;
	/*-webkit-perspective: 1000;*/
	width: 522px;
	height: 390px;
	left: 372px;
	top: 0px;
}
.videoHolder {
	display: block;
}
.buttonHolder{
	position: relative;
}